-# Add method: :get because javaScript not loading after clicking through link_to
-# turbolinks problem (http://stackoverflow.com/questions/17600093/rails-javascript-not-loading-after-clicking-through-link-to-helper)
%h2.text-center
  Liste quotidienne des questions
  = link_to new_admin_daily_question_path, method: :get do
    %span.glyphicon.glyphicon-plus
%table.table
  %thead
    %tr.info
      %th Question
      %th Nombre de réponses obtenues
      %th Programée le
      %th{colspan: 5}

    - @daily_questions.each do |daily_question|
      %tr
        %td= daily_question.question_id
        %td= daily_question.answer_counter
        %td= l daily_question.scheduled_at, format: :short
        %td
          = link_to admin_daily_question_path(daily_question)do
            %span.glyphicon.glyphicon-eye-open
        %td
          = link_to edit_admin_daily_question_path(daily_question), method: :get do
            %span.glyphicon.glyphicon-pencil
