%h2.text-center Renvoyer les instructions d'activation
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    %h4= f.label :email
    = f.email_field :email,
                    class: 'form-control',
                    autofocus: true,
                    required: true,
                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  .actions
    = f.submit 'Renvoyer',  class: 'btn btn-primary'
= render 'devise/shared/links'
