<%= devise_error_messages! %>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :cis %><br />
  <%= f.text_field :cis %>
</div>

<div class="field">
  <%= f.label :rank %><br />
  <%= f.select(:rank,
               @ranks.map { |key, value| [ value[:name], key ] }) %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
</div>
