-# Todo (Semia) fix default value for edit in select cover_path
.field
  %h4= f.label 'Nom'
  = f.text_field :name, class: 'form-control', id: 'Nom', required: true, autofocus: true
.field
  %h4= f.label 'Abbréviation'
  = f.text_field :short_name, class: 'form-control', id: 'Abbréviation', required: true
.field
  %h4= f.label 'Couverture'
  = f.select(:cover_path, options_for_select(Documentation.all.map { |d| [d.cover_path] }), {}, {class: 'form form-group form-control'})
  = f.submit 'Valider', class: 'btn btn-primary'
