.flexbox
  .panel.panel-info.fixed-panel.col-lg-12
    .panel-heading
      %h1.panel-title
        %img
        = image_tag(@rank[:image_path], width: 22)
        %span
          = @rank[:name]
        %span
          = "#{current_user.first_name} #{current_user.last_name}"
        %span.row.pull-right
          = @me.cis
    .panel-body
      .profile-padding
        %strong Email:
        = @me.email
      .profile-padding
      %strong Nombre de réponses répondues:
      - @users.each do |user|
        = user.answered_counter
      .profile-padding
      %strong Nombre de questions créées:
      - @users.each do |user|
        = user.questions_counter
      .profile-padding
      %h4.text-primary Dernières questions répondues:
      -#   = @given_answer
      -# - @given_answers.each do |given_answer|
      -#   = given_answer.created_at
      -#   = given_answer.question.body

  = link_to 'Modifier le profil', edit_user_registration_path, class: 'btn btn-primary pull-right'
