%h1 My Profile
%h3
  = @me.first_name
  = @me.last_name
%p
  %strong Email:
  = @me.email
%p
  %strong CIS:
  = @me.cis
%p
  %strong Rank:
  = @rank[:name]
%div= image_tag(@rank[:image_path])
= link_to 'Modifier le profil', edit_user_registration_path
