.flexbox
  .panel.panel-info.col-lg-12
    .panel-heading
      %h1.panel-title
        %img
        = image_tag(@rank[:image_path], width: 22)
        %span
          = @rank[:name]
        %span
          = "#{current_user.first_name} #{current_user.last_name}"
        %span.row.pull-right
          = @me.cis
    .panel-body
      .profile-padding
        %strong Email:
        = @me.email
      .profile-padding
        %strong Nombre de réponses répondues:
      - @questions.each do |question|
        = question.answer_counter
      .profile-padding
        %strong Nombre de questions créées:
      - @questions.each do |question|
        = question.answer_counter
      .profile-padding
        %strong Dernières questions répondues:
        = @given_answer

  = link_to 'Modifier le profil', edit_user_registration_path, class: 'btn btn-primary pull-right'
