.panel.panel-info
  .panel-heading
    %h3.panel-title
      = @question.body
  .panel-body
    .profile-padding
      • La question a été repondue #{@question.answer_counter} fois
    .profile-padding
      • Il y a eu #{@presenter.present_correct_ratio} de bonnes réponses
    .profile-padding
      • #{@presenter.present_like_ratio} d'utilisateurs ont aimé la question
%table.table.table-striped
  %thead
    %tr.info
      %th Utilisateur
      %th Correct ?
      %th Réponses données
    - @presenter.last_answers(10).reverse.each do |given_answer|
      %tr
        %td= @presenter.user_name(given_answer)
        %td= @presenter.present_is_correct(given_answer)
        %td= @presenter.present_answers(given_answer)
