.panel.panel-info
  .panel-heading
    %h3.panel-title
      = @question.body
  .panel-body
    .profile-padding
      Combien de fois la question a été repondue :
      = @question.answer_counter
    .profile-padding
      Le pourcentage de réponse correct :
      = @presenter.present_correct_ratio
    .profile-padding
      Le ratio aime/n'aime pas de la question :
      = @presenter.present_like_ratio
%table.table.table-striped
  %thead
    %tr.info
      %th Utilisateur
      %th Correct ?
      %th Réponses données
    - @presenter.last_answers(10).each do |answer|
      %tr
        %td= @presenter.user_name(answer)
        %td= answer.is_correct
        %td= @presenter.present_answers(answer)
