%h1 Users List
%hr/
%table
  %tr
    %th name
    %th email
    %th CIS
    %th Rank
    %th admin
    %th See Profile

  - @users.each do |user|
    %tr
      %td= "#{user.first_name } #{user.last_name }"
      %td= user.email
      %td= user.cis
      %td= user.rank
      %td= user.is_admin
      %td= link_to 'Details', admin_user_path(user)
