%h2.text-center Users List
%table.table.table-striped
  %thead
    %tr.info
      %th Name
      %th Email
      %th CIS
      %th Rank
      %th Admin
      %th Profile

  - @users.each do |user|
    %tr
      %td= "#{user.first_name } #{user.last_name }"
      %td= user.email
      %td= user.cis
      %td= user.rank
      %td= user.is_admin
      %td
        = link_to admin_user_path(user) do
          %span.glyphicon.glyphicon-eye-open
