
%p.notice= notice
%p.alert= alert
#user_nav
  - if user_signed_in?
    Bienvenue #{current_user.first_name}
    \#{current_user.last_name}
    %br/
    = link_to 'Voir mon profil', my_profile_path
    ou
    #{link_to 'Déconnexion', destroy_user_session_path, method: :delete}
    - if current_user.is_admin?
      ou
      = link_to 'Voir la liste des utilisateurs', admin_users_path
