- unless notice.nil?
  %p.alert.alert-success{role: 'alert'}= notice
- unless alert.nil?
  %p.alert.alert-danger.alert-dismissible{role: 'alert'}= alert

%ul.nav.nav-pills.navbar-fixed-top.well
  - if user_signed_in?
    %li{class: active_class(my_profile_path), role: 'presentation'}= link_to "#{current_user.first_name} #{current_user.last_name}", my_profile_path
    %li{class: active_class(questions_path), role: 'presentation'}= link_to 'Questions', questions_path
    %li{class: active_class(destroy_user_session_path), role: 'presentation'}= link_to 'Déconnexion', destroy_user_session_path, method: :delete
    - if current_user.is_admin?
      %li{class: active_class(admin_users_path), role: 'presentation'}= link_to 'Voir la liste des utilisateurs', admin_users_path
  - else
    %li{class: active_class(new_user_registration_path), role: 'presentation'}= link_to 'Inscription', new_user_registration_path
    %li{class: active_class(new_user_session_path), role: 'presentation'}= link_to 'Connexion', new_user_session_path
